/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.like-icon {
  .heart {
    transform-origin: center;
  }

  .core {
    fill: var(--background-color, #ffffff);
    transition: fill 0.3s linear 0.03s;
  }

  .main-body {
    fill: var(--background-color, #ffffff);
    transition: fill 0.3s linear;
  }

  .contour {
    fill: var(--acent-color, #000000);
  }
}

.like-icon:hover {
  .core {
    fill: var(--acent-color, #000000);
    transition: fill 0.3s linear;
  }
  .main-body {
    fill: var(--acent-color, #000000);
    transition: fill 0.3s linear 0.05s;
  }
}

.like-icon:active {
  .core {
    fill: var(--color_heart, #ff0000);
    transition: fill 0.3s linear 0.03s;
  }
  .main-body {
    fill: var(--color_heart, #ff0000);
    transition: fill 0.3s linear 0.05s;
  }
  .contour {
    fill: var(--color_heart, #ff0000);
    transition: fill 0.3s linear 0.06s;
  }
}

.like-icon.is-liked {
  .heart {
    animation: puls 0.3s ease-in 0.1s 1 alternate;
  }

  .core {
    fill: var(--color_heart, #ff0000);
    transition: fill 0.3s linear 0.03s;
  }

  .main-body {
    fill: var(--color_heart, #ff0000);
    transition: fill 0.3s linear 0.05s;
  }

  .contour {
    fill: var(--color_heart, #ff0000);
    transition: fill 0.3s linear 0.06s;
  }

  .sparks {
    animation: spark 0.3s ease-in 0.3s 1 alternate;
  }
}

@keyframes move {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px);
  }
}

@keyframes puls {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes spark {
  from {
    fill: none;
  }
  to {
    fill: var(--color_heart, #ff0000);
  }
}
