/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--weight_text, 400);
  font-family: var(--basic_font, "Inter-Variable", sans-serif);
  background-color: var(--background-color, #ffffff);
  color: var(--acent-color, #000000);
  background-image: var(--background-image, none);
  background-size: cover;
  background-attachment: fixed;
  padding-block: 100px;
}

.header {
  display: grid;
  justify-items: center;
  font-family: var(--acent_font, "PressStart2P-Regular", fantasy);
  text-transform: uppercase;
  margin-block-end: 100px;
}

.page__cards {
  margin-inline: auto;
  position: relative;
  max-inline-size: 696px;
  border: 2px solid var(--acent-color, #000000);
  background-color: var(--background-color, #ffffff);
}

.header__decor {
  margin-block-start: clamp(7.6rem, 7.1rem + 1.5vw, 8.6rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 30px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme__menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-inline-start: 30px;
}

.theme-menu__button {
  position: relative;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  inset-inline-start: 0;
  inset-block-end: -2px;
  block-size: 2px;
  inline-size: 100%;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
  animation: move 0.5s ease-in-out infinite alternate;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block-end: 50px;
}

.cards__list {
  display: grid;
  gap: 50px;
}

.cards__list-item {
  list-style: none;
}

.cards__list-title {
  font-size: 18px;
  font-variation-settings: "wght" var(--weight_title, 700);
  line-height: 21.78px;
  padding: 5px 10px;
}

.cards__content {
  display: grid;
  gap: 20px;
  padding: 30px 25px;
}

.cards__img-label {
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  color: var(--acent-color, #000000);
  font-family: var(--acent_font, "PressStart2P-Regular", fantasy);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--background-color, #ffffff);
}

@supports (
  (text-stroke: 1px var(--background-color, #ffffff)) or
    (-webkit-text-stroke: 1px var(--background-color, #ffffff))
) {
  .cards__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #ffffff);
  }
}

.cards__list-img {
  border-block: 2px solid var(--acent-color, #000000);
}

.cards__img {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  block-size: 694px;
}

.cards__text {
  font-size: 18px;
  font-weight: var(--weight_text, 400);
  line-height: 21px;
}

.cards__button-content {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: stretch;
}

.card__icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.button__click {
  position: relative;
  cursor: pointer;
  padding: 10px 36px;
  transition: box-shadow 0.3s ease;
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--acent-color, #000000);
  color: var(--acent-color, #000000);
  font-family: var(--acent_font, "PressStart2P-Regular", fantasy);
  font-size: 14px;
}

.button__click::after {
  content: "";
  display: block;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
  background: var(--acent-color, #000000);
  inset: 0;
}

.button__click:hover::after {
  transform: scaleX(1);
}

.button__click:focus {
  box-shadow: 2px 2px 0 2px var(--acent-color, #000000);
  outline: none;
}

.button__text {
  position: relative;
  color: var(--botton_text-color, #ffff);
  z-index: 2;
  display: block;
  mix-blend-mode: difference;
}

.footer_section {
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  text-align: center;
}

.footer__button-img {
  block-size: 22px;
  inline-size: 22px;
  position: relative;
  color: var(--botton_text-color, #ffff);
  z-index: 2;
  display: block;
  mix-blend-mode: difference;
}

.dialog__window {
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--acent-color, #000000);
  color: var(--acent-color, #000000);
  display: grid;
  justify-content: center;
  gap: 10px;
  font-family: var(--acent_font, "PressStart2P-Regular", fantasy);
  font-size: 14px;
  text-transform: uppercase;
  max-inline-size: 343px;
  line-height: 1.5;
  padding: 30px;
}

.dialog__content {
  display: flex;
  gap: 10px;
  justify-self: center;
  align-items: center;
}

.dialog__window::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.dialog__img {
  block-size: 39px;
  inline-size: 39px;
  color: var(--acent-color, #000000);
  position: relative;
}

.dialog__button {
  inline-size: 100%;
}

.dialog__window:not([open]) {
  opacity: 0;
}

.image__glass {
  filter: sepia(120%) opacity(85%);
}

.image__relax {
  filter: invert(35%) saturate(90%);
}

.image__reflex {
  filter: grayscale(90%) brightness(0.4);
}

.image__bugs {
  filter: brightness(2) sepia(20%) invert(15%);
}

.image__work {
  filter: brightness(0.8) hue-rotate(20deg) invert(25%) saturate(60%)
    contrast(150%);
}

.image__freands {
  filter: contrast(50%) brightness(70%);
}

.image__cat {
  filter: contrast(150%) sepia(20%);
}
