/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --background-color: var(--background-color_light, #ffffff);
  --acent-color: var(--acent-color_light, #000000);
  --background-image: var(--background-image_light, #ffffff);
  --sparks-color: var(--sparks-color_light, #ff0000);
  --contur-color: var(--acent-color_light, #000000);
}

:root.theme-dark {
  --background-color: var(--background-color_dark, #000000);
  --acent-color: var(--acent-color_dark, #00cc14);
  --background-image: var(--background-image_dark, #000000);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--background-color_light, #ffffff);
    --acent-color: var(--acent-color_light, #000000);
    --background-image: var(--background-image_light, #ffffff);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color_dark, #000000);
    --acent-color: var(--acent-color_dark, #00cc14);
    --background-image: var(--background-image_dark, #000000);
    --sparks-color: var(--sparks-color_light, #ff0000);
    --contur-color: var(--acent-color_light, #000000);
  }
}
